
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block styles %}
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .errorlist{
            list-style-type: none;
            color: #c90d00;
        }
    </style>
</head>
<body>
    <div class="container p-5">
        <h4>Log in</h4>
        <div class="card">

            <div class="card-body">
                <form class="site-form" action="{% url 'accounts:login' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{request.GET.next}}">
                    {% endif %}
                    <input type="submit" class="btn-success" value="Login">

                </form>
                <div class="forgot-password">
						<a href="#">Forgot your password?</a>
                </div>
                <div class="no-account">
						Don't have an account? <a href="{% url 'accounts:signup' %}">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>


