{% extends 'base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container p-5">
        <div class="card">
            <div class="card-header"> <h1>Signup</h1></div>
            <div class="card-body">
                <form class="site-form" action="/accounts/signup/" method="post">
                    {% csrf_token %}
                    <p>{{form.username.label}}</p>
                    <p>{{form.username}}</p>
                    <p>{{form.email.label}}</p>
                    <p>{{form.email}}</p>
                    <p>{{form.password1.label}}</p>
                    <p>{{form.password1}}</p>
                    <p>{{form.password2.label}}</p>
                    <p>{{form.password2}}</p>
                    <!--{{ form.as_p }}-->
                    {% for field in form %}
                      {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}
                    {% endfor %}
                    <input type="submit" value="Signup">
                </form>
            </div>
        </div>
    </div>


{% endblock %}