{% extends 'base_layout.html' %}
{% block title %}find a ride {% endblock %}
{% block content %}

     <div class="container p-5">

        <div class="card">
            <div class="card-body">
                <h4 class="card-header">Offer a ride</h4>
                 <!-- <div class="form-outline">
                     <p><label class="form-label" for="typeText1">Going From:</label></p>
                     <p><input type="text" id="typeText1" class="card-text form-control"></p>
                     <p><label class="form-label" for="typeText2">Going To:</label></p>
                     <p><input type="text" id="typeText2" class="form-control"></p>
                     <p><label class="form-label" for="typeDate">Departure Date:</label></p>
                     <p><input type="date" id="typeDate" class="form-control"></p>
                     <p><label class="form-label" for="typeTime">Departure Time:</label></p>
                     <p><input type="date" id="typeTime" class="form-control"></p>
                     <p><label class="form-label" for="typeNumber">Available Sits:</label></p>
                     <p><input type="number" id="typeNumber" class="form-control"></p>
                     <p><input type="text" id="location" class="form-control"></p>
                    <p><button type="submit" class="btn-primary form-control">Offer Ride</button></p>
                </div>
                -->
                #i added this comment
                <form method="post" action="#">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn-success" value="offer ride">
                </form>
            </div>

        </div>
    </div>

{% endblock %}